html {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
	background-color: #E2F4D1;
}
h1 {
	font-size: 60px;
	text-align: center;
}

p, ol, ul {
	font-size: 16px;
	line-height: 1;
	letter-spacing: 1px;
}
body {
  width: 600px;
  margin: auto;
  background-color: #F9EDDB;
  padding: 0px 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #9EC07B;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: auto;
}
